<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" href="#">Home</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Contas</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Configurações</a>
  <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Sair</a>
</nav>